<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Genes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="container">
        <!--{% block content %}-->
        <div class="row justify-content-around">
            <div class="col-sm-6">
                <br>
                <h4 style="color: blue;"><strong>Please enter the name of a gene of interest (using its HGNC symbol) to retrieve a mappability profile, as well as links to the most recent and relevant research articles.</strong></h4>
                <br><br>
                <textarea class="form-control" style="width: 80%;height: 130px;font-size: medium;border: none;" readonly>Mappability Info
The mappability tool aims to provide the user with a metric to describe the likelihood that a gene possesses high sequence homology with repetitive regions such as pseudogenes. This metric will provide the user with the a priori knowledge of genes and exons that may require confirmatory Sanger sequencing.                </textarea><br><br><br>
                <textarea class="form-control" style="width: 80%;height: 130px;font-size: medium;border: none;" readonly>Lit Review Info
The tool will also provide the user with a list of the 10 most recent research articles that refer to the user's gene of interest. This will provide the user with the opportunity to stay atop the most current research in the field.                </textarea><br><br><br>
            </div>
            <div class="col-sm-6">
                <br><br><br><br>
                <form method="GET" action="{% url 'result' %}">
                    <textarea class="form-control" placeholder="Enter the name of the Gene" required name="gene"></textarea><br>
                    <button class="btn btn-primary" type="submit">
                        Search
                    </button>
                </form>
            </div>
        </div>
        <!--{% endblock %}-->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>
</html>